/* Ioana Alex Mititean */
/* 10/15/22 */
/* Unit 11 - Connect Four Project */

body {
    background-image: linear-gradient(lightgreen, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

/* The pieces are divs within the game table cells, drawn as colored circles. */
.piece {
    margin: auto;
    width: 80%;
    height: 80%;
    border-radius: 100%;
}

/* The player pieces are either red or blue, depending on player number. */
.p1 {
    background-image: radial-gradient(circle, lightblue, blue);
}

.p2 {
    background-image: radial-gradient(circle, pink, red);
}

.flexExperiments {
    background-color: mintcream;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vw;
}

.player-blue {
    background-color: lightblue;
    color: blue;
}

.player-red {
    background-color: pink;
    color: red;
}

.game-over-blue {
    color: blue;
    text-align: center;
}

.game-over-red {
    color: red;
    text-align: center;
}

#rules {
    background-color: purple;
    margin: 15px;
}

/* The section that contains (wraps around) the game board. */
#game {
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 25px;
}

/* Individual game board cells. */
#board td {
    background-color: beige;
    width: 55px;
    height: 55px;
    border: solid 1px #666;
}

/* The column-top designates the table row of clickable areas at the top of each column. */
#column-top td {
    background-color: rgb(195, 195, 181);
    border: dashed 1px gray;
}

/* Change the color of the column top that is hovered over to reflect it is the blue player's turn. */
#column-top td.player-blue:hover {
    background-image: linear-gradient(blue, lightblue);
}

/* Change the color of the column top that is hovered over to reflect it is the red player's turn. */
#column-top td.player-red:hover {
    background-image: linear-gradient(red, pink);
}

#player-indicator {
    margin: 10px 0px;
}

#legend {
    background-color: yellow;
    margin: 10px 0px;
}