/* Ioana Alex Mititean */
/* 10/15/22 */
/* Unit 11 - Connect Four Project */

body {
    background-image: linear-gradient(lightgreen, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

/* The pieces are divs within the game table cells, drawn as colored circles. */
.piece {
    margin: auto;
    width: 80%;
    height: 80%;
    border-radius: 100%;
}

/* The player pieces are either red or blue, depending on player number. */
.p1 {
    background-image: radial-gradient(circle, lightblue, blue);
}

.p2 {
    background-image: radial-gradient(circle, pink, red);
}

#rules {
    background-color: purple;
    margin: 25px;
}

/* The section that contains (wraps around) the game board. */
#game {
    background-color: blueviolet;
    margin: 25px;
}

/* The whole game board table. */
#board {
    margin: auto;
}

/* Individual game board cells. */
#board td {
    background-color: beige;
    width: 60px;
    height: 60px;
    border: solid 1px #666;
}

/* The column-top designates the table row of clickable areas at the top of each column. */
#column-top td {
    background-color: rgb(195, 195, 181);
    border: dashed 1px gray;
}

/* Change the color of the column top that is hovered over. */
#column-top td:hover {
    background-image: linear-gradient(gold, rgb(255, 250, 210));
}
