/* Ioana Alex Mititean */
/* 10/15/22 */
/* Unit 11 - Connect Four Project */


/* The pieces are divs within the game table cells, drawn as colored circles. */
.piece {
    margin: auto;
    width: 80%;
    height: 80%;
    border-radius: 100%;
}

/* The player pieces are either red or blue, depending on player number. */
.p1 {
    background-color: blue;
}

.p2 {
    background-color: red;
}

/* The whole game board table. */
#board {
    margin: 30px auto;
}

/* Individual game board cells. */
#board td {
    width: 65px;
    height: 65px;
    border: solid 1px #666;
}

/* The column-top designates the table row of clickable areas at the top of each column. */
#column-top td {
  border: dashed 1px lightgray;
}

/* Change the color of the column top that is hovered over. */
#column-top td:hover {
  background-color: gold;
}
