/* Ioana Alex Mititean */
/* 10/15/22 */
/* Unit 11 - Connect Four Project */

body {
    background-image: linear-gradient(MediumPurple, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Verdana, Tahoma, sans-serif;
    /* font-size: 0.5em; */
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 1.2em;
}

/* The pieces are divs within the game table cells, drawn as colored circles. */
.piece {
    margin: auto;
    width: 80%;
    height: 80%;
    border-radius: 100%;
}

/* The player pieces are either red or blue, depending on player number. */
.p1 {
    background-image: radial-gradient(circle, lightblue, blue);
}

.p2 {
    background-image: radial-gradient(circle, pink, red);
}

/* The large areas to the left and right of the game board. */
.side-bar {
    background-color: mintcream;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vw;
    text-align: center;
    padding: 5px;
}

.player-blue {
    /* background-color: lightblue; */
    color: blue;
    font-weight: bold;
}

.player-red {
    /* background-color: pink; */
    color: red;
    font-weight: bold;
}

.game-over-blue {
    background-color: lightblue;
    color: blue;
    font-weight: bold;
    border: 2px solid blue;
    padding: 10px;
}

.game-over-red {
    background-color: pink;
    color: red;
    font-weight: bold;
    border: 2px solid red;
    padding: 10px;
}

.game-over-tie {
    background-color: rgb(192, 119, 255);
    color: rgb(69, 22, 114);
    font-weight: bold;
    border: 2px solid rgb(69, 22, 114);
    padding: 10px;
}

#rules {
    background-color: purple;
    margin: 15px;
}

/* The section that contains (wraps around) the game board. */
#game {
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 25px;
}

/* Individual game board cells. */
#board td {
    background-color: beige;
    width: 55px;
    height: 55px;
    border: solid 1px #666;
}

/* The column-top designates the table row of clickable areas at the top of each column. */
#column-top td {
    background-color: rgb(195, 195, 181);
    border: dashed 1px gray;
}

/* Change the color of the column top that is hovered over to reflect it is the blue player's turn. */
#column-top td.player-blue:hover {
    background-image: linear-gradient(blue, lightblue);
}

/* Change the color of the column top that is hovered over to reflect it is the red player's turn. */
#column-top td.player-red:hover {
    background-image: linear-gradient(red, pink);
}

#instructions {
    background-color: yellow;
}

#player-indicator {
    margin: 10px 0px;
}
